# General
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.sublime-workspace

# log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
node_modules/
dist/
dist-ssr/
coverage/
*.local

# Flask
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.sqlite3
instance/
.env
.venv/
env/
venv/
.mypy_cache/
.pytest_cache/


# IDEs and tools
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.tsbuildinfo

.VSCodeCounter
BashTools/